:root {
  --white-bg: #fff;
  --white: #fff;
  --white-footer: #f5f2f4;
  --grey: #868e96;
  --grey-subtitle: #666;
  --black: #000;
  --meter-bg: #f3efef;
  --meter-primary-bg: #aaa5ff;
  --border-grey: hsla(0,0%,83%,.397);
  --ligh-dark-text: #586069;
  --repo-stats: #6a737d;
  --purple: #55198b;
}


@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("../fonts/Agustina.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Media Query */
@media (max-width: 1380px) {

  html,
  body {
    font-size: rem;
    line-height: normal;
  }
}

.headroom-wrapper {
  height: 99px;
  max-height: 100px;
}

.headroom.headroom--unfixed.headroom-disable-animation {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translate3d(0px, 0px, 0px);
}

.header {
  background-color: var(--white-bg);
  margin: 0 auto;
  max-width: 100%;
  padding: 15px 20px;
}

.header .logo {
  display: block;
  flex: none;
  float: left;
  font-size: 1.5em;
  line-height: normal;
  margin-top: 10px;
  text-decoration: none;
}

.grey-color {
  color: var(--grey);
}

.header .logo-name {
  font-family: Agustina Regular;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 700;
  padding: 0 10px;
}

.header ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header li a {
  color: var(--black);
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

#darkmode-toggle {
  height: 1em;
  width: 1em;
  margin: 0px 0.05em 0px 0.1em;
  vertical-align: -0.1em;
}

.switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 50px;
}

.switch input {
  transform: scale(.5);
}

.slider {
  background-color: #ccc;
  cursor: pointer;
  right: 0;
  top: 0;
}

.slider,
.slider::before {
  bottom: 0;
  left: 0;
  position: absolute;
  transition: .4s;
}

.slider.round {
  align-items: center;
  border-radius: 34px;
  display: flex;
}

.slider::before {
  background-color: var(--white-bg);
  content: "";
  height: 26px;
  width: 28px;
}

.slider.round::before {
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.slider::after {
  bottom: 17.5%;
  display: inline;
  position: absolute;
  right: 9.3%;
}

.emoji {
  align-items: center;
  display: flex;
  margin-left: 2px;
  z-index: 10;
}

#greeting {
  animation-fill-mode: both;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: react-reveal-935174945759289-1;
}

.greet-main,
.main {
  padding: 20px 10px;
  width: 90%;
}

.greet-main {
  margin: 2rem auto 0;
}

.greeting-main {
  display: flex;
}

.greeting-main>* {
  flex: 1 1;
  margin-bottom: 30px;
}

.greeting-text {
  color: #000 !important;
  font-size: 70px;
  line-height: 1.1;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#wave-emoji {
  height: 1em;
  width: 1em;
  margin: 0px 0.05em 0px 0.1em;
  vertical-align: -0.1em;
}

.subTitle {
  color: var(--grey) !important;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
}

#rocket-emoji {
  height: 1em;
  width: 1em;
  margin: 0px 0.05em 0px 0.1em;
  vertical-align: -0.1em;
}

.empty-div {
  margin-bottom: 40px;
}

.social-media-div {
  font-size: 2em;
}

.button-greeting-div {
  display: flex;
  margin-top: 40px;
}

.main-button {
  background-color: var(--purple);
  border: 1px solid var(--purple);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 50px;
  margin-top: 20px;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease-in-out 0s;
  width: max-content;
}

.main-button:hover {
  background-color: var(--white-bg);
  color: var(--purple);
  transition: all 0.3s ease 0s;
  transform: translateY(-3px);
}

.download-link-button {
  text-decoration: none;
}

.greeting-main>* {
  flex: 1 1;
  margin-bottom: 30px;
}

#hello-svg {
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  content-visibility: visible;
}

.main {
  margin: 4rem auto 0;
}

.skills-main-div {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.skills-main-div>* {
  flex: 1 1;
  margin-bottom: 30px;
}

.react-reveal {
  opacity: 0;
}

#coding-svg {
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  content-visibility: visible;
}

.skills-text-div {
  margin-left: 50px;
}

.skills-main-div>* {
  flex: 1 1;
  margin-bottom: 30px;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}

.dev-icons {
  font-size: 3rem;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
}

.software-skill-inline>p {
  color: var(--grey);
  font-size: 10px;
}

.software-skill-inline > img:hover {
  filter: brightness(0) saturate(100%) invert(34%) sepia(22%) saturate(5373%) hue-rotate(228deg) brightness(97%) contrast(89%);
}

#lightning-emoji {
	height: 1em;
	width: 1em;
	margin: 0px 0.05em 0px 0.1em;
	vertical-align: -0.1em;
}

.skills-container {
	display: flex;
	margin: 2rem auto 0;
	padding: 20px 10px;
	width: 90%;
}

.skills-container > * {
	flex: 1 1;
	margin-bottom: 30px;
}

.skill {
	line-height: 3.5vw;
}

.meter {
	background: var(--meter-bg);
	border-radius: 25px;
	height: 20px;
	position: relative;
}

.meter > span {
	background-color: var(--meter-primary-bg);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 20px;
	border-top-right-radius: 6px;
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#laptop-svg {
	width: 100%;
	height: 100%;
	transform: translate3d(0px, 0px, 0px);
	content-visibility: visible;
}

.education-section {
	display: flex;
	flex-direction: column;
	margin: 2rem auto 0;
	padding: 20px 0;
	width: 90%;
}

.education-heading {
	font-size: 56px;
	font-weight: 400;
}

.education-section > * {
	flex: 1 1;
	margin-bottom: 30px;
}

.education-card-container {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.education-card {
	display: flex;
	flex-direction: row;
}

.education-roundedimg {
	border-radius: 50%;
	box-shadow: 0 .5rem 1rem #0000004d;
	height: 6rem;
	margin-right: 2rem;
	object-fit: cover;
	width: 6rem;
}

.education-card-right {
	max-width: 70%;
}

.education-text-school {
	font-size: 28px;
	font-weight: 700;
	height: 27px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.education-text-subHeader {
	color: var(--black);
	font-size: 19px;
	font-weight: 700;
	line-height: normal;
	margin: 0;
	padding-top: .8rem;
}

.education-text-duration {
	color: var(--black);
	font-size: 19px;
	margin: 0;
	padding-top: .5rem;
}

.education-text-desc {
	margin-bottom: .5rem;
	margin-top: .5rem;
}

.education-text-bullets > ul {
	margin-top: .5rem;
}

.education-card-border {
	border-top: 2px solid var(--border-grey);
	height: 30px;
	margin-bottom: 20px;
	transition: width .6s ease-in-out;
	width: 80%;
}

.education-card:hover + .education-card-border {
  border-color: var(--meter-primary-bg);
  width: 100%;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.experience-container {
	display: flex;
	margin: 2rem auto 0;
	padding: 20px 10px;
	width: 90%;
}

.experience-container > * {
	flex: 1 1;
}

.experience-heading {
	font-size: 56px;
	font-weight: 400;
}

.experience-cards-div {
	grid-gap: 1rem 1rem;
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
}

.experience-card {
  position: relative;
  background-color: var(--white-bg);
  box-shadow: 0 10px 30px -15px #0003;
  border-radius: 10px;
  border: 1px solid var(--border-grey);
}

.experience-card:hover {
  box-shadow: 0 20px 30px -10px #0003;
}

.experience-card, .experience-card-dark {
	border: 1px solid var(--border-grey);
	border-radius: 10px;
	box-shadow: 0 10px 30px -15px #0003;
	position: relative;
}

.experience-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  border-radius: 10px 10px 0px 0px;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  height: 11rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#facebook-banner {
	background: rgb(20, 124, 244);
}

#quora-banner {
  background-color: rgb(164, 36, 12);
}

#airbnb-banner {
  background-color: rgb(252, 92, 100);
}

.experience-blurred_div {
  position: absolute;
  background: linear-gradient(#0006,#0003);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  height: 11rem;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.experience-div-company {
  position: absolute;
  background: transparent;
  height: 9rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-text-company {
	color: var(--white);
	font-size: 25px;
	font-weight: 700;
	margin: 0;
	overflow: hidden;
	padding: 1.5rem;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.experience-roundedimg {
	border-radius: 50%;
	box-shadow: 0 .5rem 1rem #0000004d;
	height: 8rem;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 7rem;
	width: 8rem;
}

.experience-text-details {
	margin-top: 2rem;
	padding: 1.5rem;
}

.experience-text-role {
	color: var(--black);
	font-size: 25px;
	font-weight: 700;
	line-height: normal;
	margin: 0;
	padding-top: 1.5rem;
	text-align: center;
}

.experience-text-date {
	color: #000;
	font-size: 20px;
	font-weight: 600;
	margin: 0;
	padding-top: 1rem;
	text-align: center;
}

.experience-text-desc {
	text-align: center;
}

.project-title {
	font-size: 52px;
	font-weight: 400;
	line-height: normal;
}

.repo-cards-div-main {
	grid-gap: 1rem 1rem;
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.repo-card-div {
	background-color: var(--white-bg);
	box-shadow: 0 10px 30px -15px #0003;
	color: var(--ligh-dark-text);
	cursor: pointer;
	padding: 2rem;
	transition: all .3s ease;
}

.repo-card-div:hover {
	box-shadow: 0 20px 30px -10px #0003;
}

.repo-left-stat span, .repo-name-div {
	align-items: center;
	display: flex;
}

.repo-svg {
	margin-right: .5rem;
	min-width: 16px;
}

#book-svg {
  height: 20px;
}

.repo-star-svg {
	margin-right: .3rem;
}

.repo-name {
	color: #24292e;
	font-size: 25px;
	font-weight: 700;
	height: 30px;
	letter-spacing: -.5px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.repo-description {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
  min-height: 46px;
}

.repo-stats {
	color: var(--repo-stats);
	display: flex;
	font-size: 13px;
	justify-content: space-between;
}

.repo-left-stat {
	display: flex;
	flex-grow: 1;
}

.repo-left-stat span {
	margin-right: .75rem;
}

.repo-left-stat span, .repo-name-div {
	align-items: center;
	display: flex;
}

.language-color {
	background-color: blue;
	border-radius: 100%;
	height: 10px;
	margin-right: .25rem;
	width: 10px;
}

.project-button {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.project-button > .main-button {
	margin-right: 0 !important;
}

.skills-heading {
	font-size: 56px;
	font-weight: 400;
}

.projects-container {
	grid-gap: 1rem 1rem;
	display: grid;
	gap: 1rem 1rem;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.project-card {
	background-color: #fff;
	border: 1px solid hsla(0,0%,83%,.397);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.5rem;
}

.project-card-light {
	box-shadow: 0 10px 30px -15px #0003;
	transition: all .3s ease;
}

.project-image {
	align-items: center;
	display: flex;
	height: 250px;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.project-detail {
	text-align: center;
}

.card-title {
	color: var(--black);
	font-size: 1.375rem;
	font-weight: 700;
	line-height: 24px;
	margin: 15px 0 0;
}

.card-subtitle {
	color: var(--grey-subtitle);
	font-size: 1.063rem;
	line-height: 1.5rem;
  margin: 17px 0;
}

.project-card-footer a.project-tag {
	align-items: center;
	background: var(--purple);
	border-radius: 4px;
	color: var(--white-footer);
	cursor: pointer;
	display: inline-flex;
	font-size: .75rem;
	height: 2em;
	justify-content: center;
	line-height: 1.5;
	margin: 0 .5rem .5rem 0;
	padding: 0 .75em;
	transition: .2s ease-in;
	vertical-align: middle;
	white-space: nowrap;
  text-decoration: none;
}

@media (min-width: 48em) {
  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .header .menu {
    max-height: none;
  }

  .header li {
    float: left;
  }
}

@media (max-width: 2560px) and (min-width: 1552px) {
  .slider::after {
    bottom: 12.5% !important;
  }
}